@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
:root {
  --main-font: "Poppins";
  --main-text-color: #8f95a5;
  --title-text-color: #000000;
  --btn-background: #263238;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  width: 1338px;
  margin: 0 auto;
  padding: 0 131px;
}

/* hero */
.hero {
  display: flex;
  margin-top: 55px;
}

.hero__info {
  display: flex;
  flex-direction: column;
}

.hero__title {
  position: relative;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 64px;
  line-height: 1.25;
  width: 386px;
  margin-bottom: 40px;
}

.hero__text {
  color: var(--main-text-color);
  width: 540px;
  margin-bottom: 60px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  color: #8f95a5;
}

.hero__button {
  font-family: var(--main-font);
  color: #ffffff;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  background: var(--btn-background);
  border-radius: 10px;
  padding: 23px 64px;
  width: 426px;
  cursor: pointer;
}

.learning {
  width: 654px;
  height: 510px;
  fill: black;
}

.bulb {
  position: absolute;
  top: 110px;
  left: 483px;
  fill: black;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #8f95a5;
  background-color: #fff;
}

h2 {
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  width: 1338px;
}
.container--centered {
  margin-left: auto;
  margin-right: auto;
}

.contacts__container {
  margin-top: 180px;
  margin-bottom: 55px;
  display: flex;
}

.contact__img {
  margin-right: 144px;
}

.contacts__title {
  font-weight: 600;
  font-size: 48px;
  color: #000;
}

.contacts__descr {
  margin-top: 60px;
  width: 654px;
  font-weight: 400;
}

.subscribe {
  margin-top: 30px;
  display: flex;
}

.subscribe__input {
  padding: 20px 30px;
  min-width: 425px;
  border: 1px solid #8f95a5;
  border-radius: 10px;
}
.subscribe__input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: #8f95a5;
}
.subscribe__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: #8f95a5;
}
.subscribe__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: #8f95a5;
}

.subscribe__btn {
  margin-left: 30px;
  padding: 20px 56px;
  min-width: 312px;
  font-weight: 500;
  text-align: center;
  color: #fff;
  background: #263238;
  border-radius: 10px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 131px;
  margin-right: 131px;
  margin-bottom: 55px;
  border-top: 1px solid #C4C4C4;
  padding-top: 23px;
  padding-bottom: 22px;
}
.footer__list {
  display: flex;
}
.footer__list > :not(:last-child) {
  margin-right: 80px;
}
.footer__item {
  font-size: 24px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #8f95a5;
}

.logo {
  font-size: 36px;
  line-height: 1.5;
  display: flex;
  margin-right: 463px;
  align-items: center;
  color: var(--title-text-color);
}
.logo__grey {
  color: var(--main-text-color);
}/*# sourceMappingURL=main.css.map */