<section class="contacts">
  <div class="container container--centered contacts__container">
    <div class="contact__img">
      <svg width="425" height="430">
        <use href="./images/icons.svg#icon-man"></use>
      </svg>
    </div>
    <div class="contacts__text">
      <h2 class="contacts__title">Contact Us</h2>
      <p class="contacts__descr">
        Discover your current English level by taking our free online English test. Sign up to our
        newsletter for learning tips and free resources
      </p>
      <form class="subscribe">
        <input class="subscribe__input" type="email" placeholder="Enter Your E-mail" />
        <button class="subscribe__btn" type="submit">Subscribe</button>
      </form>
    </div>
  </div>
</section>
