<footer class="footer">
    <!-- footer (Olya Trush) -->
    <a
      class="logo"
      href="./index.html"
      target="_blank"
      rel="noopener noreferrer"
      >Brit <span class="logo__grey">lex</span></a
    >
    <ul class="footer__list">
      <li>
        <a class="footer__item" href="#">Terms and Conditions</a>
      </li>
      <li>
        <a class="footer__item" href="#"> Privacy Policy </a>
      </li>
      <li>
        <a class="footer__item" href="#"> Cookie Policy </a>
      </li>
    </ul>
  </footer>