<section>
        <div class="container hero">
            <div class="hero__info">
            <h1 class="hero__title">
                Learn Any Foreign Language</h1>
                <div>
                    <svg class="bulb">
                        <use href="./images/icons.svg#icon-bulb"></use>
                    </svg>
                </div>
            <p class="hero__text">
                With our teachers who write a program for
                each student, you will be able to make your
                first sketch after the first lesson.
            </p>
            <button class="hero__button">
                Get started
            </button>
        </div>
                   <div>
                        <svg class="learning">
                            <use href="./images/icons.svg#icon-learning"></use>
                        </svg>
                   </div>
               
        </div>
    </section>